/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/DaSt-2026.iml
/.idea/LNKD.tech Editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/W1_submission.txt
/venv/*
/venv