/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/DaSt-2026.iml
/.idea/LNKD.tech Editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/*
/W1_submission.txt
/venv/*
/venv
.ipynb_checkpoints/
*.ipynb_checkpoints
src/t2_4_views.ipynb
/2026-Dast-Excercise-Part3.md
/2026-Dast-Excercise-Part3.pdf
/API_documentation.md
/credentials
